.person-list {
  display: flex;
}

.person-card {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.person-card:nth-child(-n + 3) {
  margin-right: 30px;
}

.person-card__desc {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #fff;
}

.person-card__name {
  font-weight: 500;
  font-size: 16px;
  line-height: calc(19 / 16);
  letter-spacing: 0.03em;

  margin-bottom: 10px;
}

.person-card__text {
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
}

.social-list {
  display: flex;
  padding: 0 32px;
  gap: 10px;
}

.social-link {
  width: 44px;
  height: 44px;
  display: flex;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  fill: rgba(175, 177, 184, 1);

  transition: background-color var(--transition-change), fill var(--transition-change);
  &:hover,
  &:focus {
    background-color: var(--accent-color);
    fill: #ffffff;
  }
}
