.person-list {
  display: flex;
  gap: 30px;
  @media screen and (max-width: 767.5px) {
    flex-direction: column;
  }

  @media screen and (min-width: 768px) {
    flex-wrap: wrap;
    justify-content: center;
  }
}

.person-card {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 30px) / 2);
  }
  @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - 120px) / 4);
  }
}

// .person-card:nth-child(-n + 3) {
//   margin-right: 30px;
// }

.person-card__desc {
  background-color: #fff;
  padding-top: 24px;
  padding-bottom: 24px;
  @media screen and (min-width: 1200px) {
    padding-bottom: 30px;
  }
}

.person-card__name {
  font-weight: 500;
  font-size: 16px;
  line-height: calc(19 / 16);
  letter-spacing: 0.03em;

  margin-bottom: 10px;
}

.person-card__text {
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
}

.social-list {
  display: flex;
  padding: 0 32px;
  gap: 10px;
  justify-content: center;
}

.social-link {
  width: 44px;
  height: 44px;
  display: flex;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  fill: rgba(175, 177, 184, 1);

  transition: background-color var(--transition-change), fill var(--transition-change);
  &:hover,
  &:focus {
    background-color: var(--accent-color);
    fill: #ffffff;
  }
}
