.smal-pic__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.smal-pic__item {
  display: flex;
  flex-basis: calc((100% - 30px) / 2);

  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 60px) / 3);
  }
  @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - 150px) / 6);
  }

  align-items: center;
}

.smal-pic__link {
  width: 100%;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  &:hover,
  &:focus {
    border: 1px solid var(--accent-color);
  }
}

.smal-pic__icon {
  fill: rgba(175, 177, 184, 1);

  transition: fill var(--transition-change);
  .smal-pic__link:hover &,
  .smal-pic__link:focus & {
    fill: var(--accent-color);
  }
}
